.external-link {
  position: relative;
  text-decoration: none;
  display: inline-block;
  @apply rounded-md;

  .external-link__image-wrapper {
    display: inherit;
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: 1px dashed currentColor;
    outline-offset: 4px;
  }

  &.external-link--large:focus {
    outline-width: 3px;
    outline-offset: 8px;
  }

  &:active {
    opacity: 0.8;
  }
}

.external-link__icon {
  top: 0;
  margin-left: 0.25em;
  display: inline-block;
  stroke: currentColor;
  transition: top 300ms ease-in-out;

  @media (prefers-reduced-motion: no-preference) {
    .external-link:hover & {
      top: -0.25em;
    }
  }

  .external-link--content-type-image & {
    position: absolute;
    right: 0;
  }

  .external-link--content-type-text & {
    position: relative;
  }
}
