.external-link {
  position: relative;
  text-decoration: none;
  display: inline-block;

  &:after {
    content: "";
    position: absolute;
    left: -4px;
    bottom: -4px;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    opacity: 0;
    transition: opacity 400ms ease-out;
    border: 1px dashed theme("colors.white");
    @apply rounded-md;
  }

  &.external-link--large {
    &:after {
      border-width: 3px;
      left: -8px;
      bottom: -8px;
      width: calc(100% + 16px);
      height: calc(100% + 16px);
    }
  }

  .external-link__image-wrapper {
    display: inherit;
  }

  &.external-link--primary {
    &:after {
      border-color: theme("colors.primary");
    }
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: 0;

    &:after {
      opacity: 1;
    }
  }

  &.external-link--large:focus {
    outline: 0;

    &:after {
      opacity: 1;
    }
  }

  &:active {
    opacity: 0.8;
  }
}

.external-link__icon {
  top: 0;
  margin-left: 0.25em;
  display: inline-block;
  stroke: currentColor;
  transition: top 300ms ease-in-out;

  .external-link:hover & {
    top: -0.25em;
  }

  .external-link--content-type-image & {
    position: absolute;
    right: 0;
  }

  .external-link--content-type-text & {
    position: relative;
  }
}
