.external-link {
  position: relative;
  text-decoration: none;

  &:hover {
    text-decoration: underline;

    .external-link__icon {
      top: -.25em;
    }
  }

  &:focus {
    outline: 1px dashed currentColor;
  }

  &.external-link--large:focus {
    outline: 3px dashed currentColor;
  }

  &:active {
    opacity: 0.8;
  }
}

.external-link__icon {
  position: relative;
  top: 0;
  margin-left: 0.25em;
  display: inline-block;
  stroke: currentColor;
  transition: top 300ms ease-in-out;
}
