.section-title {
  span {
    order: 3;
  }

  &::before {
    display: inline-block;
    flex-shrink: 0;
    content: "";
    width: 8px;
    height: 8px;
    background-color: theme("colors.white");
    border-radius: 50%;
  }

  &::after {
    display: inline-block;
    order: 2;
    content: "";
    width: 100%;
    min-width: 2rem;
    height: 1px;
    background-color: theme("colors.white");
  }
}
