@import './../../style-vars.scss';

.layoutWrapper {
    align-items: center;
    display: flex;
    max-width: 1280px;
    min-height: calc(100vh - 96px);
    margin: 0 auto;
    padding: 48px 24px;
    width: 100&;
    box-sizing: border-box;
}