@import './../../style-vars.scss';

.secondary {
  position: relative;
  padding: 5px;
  border: 2px solid $white-color;
  cursor: pointer;
  min-width: 250px;
  min-height: 56px;
  font-size: $font-size-body;
  font-family: $font-family-copy;
  color: $font-color;
  background-color: transparent;
  transition: background-color 400ms ease-in-out, color 400ms ease-out;

  &:after {
    content: '';
    position: absolute;
    left: -5px;
    bottom: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    opacity: 0;
    transition: opacity 400ms ease-out;
  }

  &:disabled {
    pointer-events: none;
    cursor: not-allowed;
    color: rgba($font-color, 0.5);
    border-color: rgba($white-color, 0.2);
  }

  &:hover {
    background-color: $white-color;
    color: $black-color;

    &:after {
        opacity: 1;
    }
  }

  &:focus {
    outline: 0;
    

    &::-moz-focus-inner {
      border: 0;
    }

    &:after {
        opacity: 1;
        border: 1px dashed $white-color;
    }
  }
}