.external-link {
  &:hover {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.8;
  }
}

.external-link__icon {
  top: 0;
  margin-left: 0.25em;
  display: inline-block;
  stroke: currentColor;
  transition: top 300ms ease-in-out;

  @media (prefers-reduced-motion: no-preference) {
    .external-link:hover & {
      top: -0.25em;
    }
  }
}
