.cta-secondary {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 2px solid theme("colors.white");
  cursor: pointer;
  min-width: 250px;
  min-height: 56px;
  color: theme("colors.white");
  background-color: transparent;
  transition: background-color 400ms ease-in-out, color 400ms ease-out;
  @apply rounded-md;

  &:after {
    content: "";
    position: absolute;
    left: -8px;
    bottom: -8px;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    opacity: 0;
    transition: opacity 400ms ease-out;
    border: 1px dashed theme("colors.white");
    @apply rounded-md;
  }

  &:disabled {
    pointer-events: none;
    cursor: not-allowed;
    color: theme("colors.white");
    opacity: 0.5;
    border-color: theme("colors.white");
  }

  &:hover {
    background-color: theme("colors.white");
    color: theme("colors.black");
  }

  &:focus {
    outline: 0;

    &::-moz-focus-inner {
      border: 0;
    }

    &:after {
      opacity: 1;
    }
  }
}
