.project-archive-intro__title {
  span {
    &:last-child {
      margin-left: 2.2em;
    }
  }
}

.project-archive-intro__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;

  @screen lg {
    overflow: visible;
  }
}

.project-archive-intro__circle {
  position: absolute;
  opacity: 0;

  &--1 {
    width: 80px;
    height: 80px;
    bottom: 40px;
    left: 40px;
    animation: enter 600ms 300ms forwards;
  }

  &--2 {
    width: 160px;
    height: 160px;
    top: -80px;
    left: 50%;
    animation: enter 600ms 400ms forwards;

    @screen lg {
      width: 220px;
      height: 220px;
      top: -100px;
    }
  }

  &--3 {
    width: 220px;
    height: 220px;
    top: 20%;
    left: 60%;
    animation: enter 600ms 500ms forwards;

    @screen lg {
      width: 400px;
      height: 400px;
      top: 35%;
    }
  }
}
