.project-archive-teaser-circle {
  &--0 {
    width: 220px;
    height: 220px;
    bottom: -80px;
    left: -25px;

    @screen lg {
      width: 320px;
      height: 320px;
      bottom: -100px;
    }
  }

  &--1 {
    width: 160px;
    height: 160px;
    top: -80px;
    right: 5%;

    @screen lg {
      width: 220px;
      height: 220px;
      top: -100px;
    }
  }


  &--2 {
    width: 64px;
    height: 64px;
    top: 30px;
    right: 0;

    @screen lg {
      top: 48px;
      right: 5%;
    }
  }
}
