.grid {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 140px);
} 

.symbol {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: theme("colors.white");
  color: transparent;
  transition: color 700ms ease-out;

}

.evaluated {
  color: theme("colors.white");
}


.cta {
  margin: 16px 0 0 0;
  display: flex;
  justify-content: center;

  @screen md {
    margin: 48px 0 0 0;
  }
} 