.intro-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  @media (prefers-reduced-motion: reduce) {
    clip-path: "inset(32px)";
    padding: 32px;
  }
}

.intro-bg__gradient {
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#949494, #757575);
}
