@import "./portrait.scss";

.intro {
  html:not(.no-js) & {
    opacity: 0;
  }
}

.intro__title {
  margin: 0;
  transform: translate(0, 0);
  line-height: 1.2;
  font-weight: 400;
  font-size: 4.5rem;

  @screen md {
    font-size: 120px;
  }

  @screen lg {
    font-size: 150px;
  }

  .word {
    overflow: hidden;
    display: block;
    transform-origin: left top;
    white-space: nowrap;

    &:first-child {
      -webkit-text-stroke: 2px theme("colors.primary");
      color: transparent;
      font-style: italic;
    }

    &:last-child {
      @screen md {
        margin-left: 1.2em;
      }
    }
  }

  .char {
    display: inline-block;
  }
}

.intro__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
