@import "./../../style-vars.scss";

.title {
  margin: 0;
  transform: translate(0, 0);
  color: $highlight-color;

  .word {
    overflow: hidden;
    display: inline-block;
    transform-origin: left top;
  }

  .char {
    display: inline-block;
  }
}
