.title {
  margin: 0;
  transform: translate(0, 0);
  line-height: 1.2;
  font-weight: 400;
  font-size: 5rem;

  @screen md {
    font-size: 120px;
  }

  .word {
    overflow: hidden;
    display: inline-block;
    transform-origin: left top;
  }

  .char {
    display: inline-block;
  }
}
