@import './../../style-vars.scss';

h1 {
  font-size: $font-size-headline-small;
  line-height: 1.4;
  font-weight: 400;

  @media (min-width: $breakpoint) {
      font-size: $font-size-headline-large;
  }
}


h2 {
  font-size: $font-size-subline-small;
  line-height: 1.4;
  font-weight: 400;

  @media (min-width: $breakpoint) {
      font-size: $font-size-subline-large;
  }
}

.center {
  text-align: center
}
