@import './style-vars.scss';

body {
    background-color: #2e2d2d;
    color: $font-color;
    font-family: $font-family-copy;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
}

::-moz-selection {
  color: $font-color;
  background: $seconday-highlight-color;
}

::selection {
  color: $font-color;
  background: $seconday-highlight-color;
}

h1 {
    font-size: $font-size-headline-small;
    font-family: $font-family-headline;
    line-height: 1.4;
    font-weight: 400;

    @media (min-width: $breakpoint) {
        font-size: $font-size-headline-large;
    }
}

h2 {
    font-size: $font-size-subline-small;
    font-family: $font-family-headline;
    line-height: 1.4;
    font-weight: 400;

    @media (min-width: $breakpoint) {
        font-size: $font-size-subline-large;
    }
}