@tailwind base;

body {
  background-color: theme("colors.grey.2");
  color: theme("colors.grey.12");
  font-size: 16px;
  @apply leading-relaxed;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
}

::-moz-selection {
  color: theme("colors.white");
  background: theme("colors.grey.10");
}

::selection {
  color: theme("colors.white");
  background: theme("colors.grey.10");
}

.no-js .no-js\:hidden {
  display: none;
}

@import "./pages/index.scss";

@tailwind components;

@import "./components/collapsible/index.scss";
@import "./components/externalLink/index.scss";
@import "./components/featureList/index.scss";
@import "./components/intro/index.scss";
@import "./components/imageGrid/index.scss";
@import "./components/internalLink/index.scss";
@import "./components/markdown/index.scss";
@import "./components/parallaxCircles/index.scss";
@import "./components/projectArchiveTeaser/index.scss";
@import "./components/sectionTitle/index.scss";
@import "./components/subHero/index.scss";
@import "./components/tabs/index.scss";
@import "./components/useCasePreview/index.scss";
@import "./components/writingPreview/index.scss";

@import "./utils/cssAnimations.scss";

@layer components {
  .bg-grey-2-pattern {
    background: url("./images/seamless-BG.png") repeat;
    background-color: theme("colors.grey.2");
  }

  .bg-primary-pattern {
    background: url("./images/seamless-BG.png") repeat;
    background-color: theme("colors.primary");
  }
}

@screen lg {
  .bg-grey-2-pattern {
    background-size: 15%;
  }

  .text-stroke-primary {
    -webkit-text-stroke-color: theme("colors.primary");
    color: transparent;
  }

  .text-stroke-white {
    -webkit-text-stroke-color: theme("colors.white");
    color: transparent;
  }

  .text-stroke {
    -webkit-text-stroke-width: 1px;
  }

  .text-stroke-2 {
    -webkit-text-stroke-width: theme("borderWidth.2");
  }
}

.underline-under {
  text-underline-position: under;
}

.inherit {
  display: inherit;
}

@tailwind utilities;
