@tailwind base;

body {
  background-color: theme("colors.black");
  color: theme("colors.white");
  line-height: 2;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
}

::-moz-selection {
  color: theme("colors.white");
  background: theme("colors.secondary");
}

::selection {
  color: theme("colors.white");
  background: theme("colors.secondary");
}

@tailwind components;
@tailwind utilities;

@import "./utils/bg-pattern.scss";
