@tailwind base;

body {
  background-color: theme("colors.grey.darkest");
  color: theme("colors.white");
  font-size: 16px;
  @apply leading-relaxed;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
}

::-moz-selection {
  color: theme("colors.white");
  background: theme("colors.grey.darker");
}

::selection {
  color: theme("colors.white");
  background: theme("colors.grey.darker");
}

@tailwind components;

@import "./components/intro/index.scss";
@import "./components/cta/index.scss";
@import "./components/links/index.scss";
@import "./components/markdown/index.scss";
@import "./components/parallaxCircles/index.scss";
@import "./components/sections/index.scss";
@import "./components/tabs/index.scss";

@tailwind utilities;

@import "./utils/cssAnimations.scss";

@responsive {
  .bg-grey-darkest-pattern {
    background: url("./images/seamless-BG.jpg") repeat;
    background-color: theme("colors.grey.darkest");
    background-blend-mode: multiply;
  }

  .bg-primary-pattern {
    background: url("./images/seamless-BG.jpg") repeat;
    background-color: theme("colors.primary");
    background-blend-mode: multiply;
  }

  .text-stroke-primary {
    -webkit-text-stroke-color: theme("colors.primary");
    color: transparent;
  }

  .text-stroke-white {
    -webkit-text-stroke-color: theme("colors.white");
    color: transparent;
  }

  .text-stroke {
    -webkit-text-stroke-width: 1px;
  }

  .text-stroke-2 {
    -webkit-text-stroke-width: theme("borderWidth.2");
  }
}

.underline-under {
  text-underline-position: under;
}
