$font-color: #707070;
$font-family-headline: 'IBM Plex Mono';
$font-size-headline-small: 32px;
$font-size-headline-large: 48px;

$font-size-subline-small: 24px;
$font-size-subline-large: 32px;

$font-family-copy: 'IBM Plex Mono';

$highlight-color: #00ffcc;
$seconday-highlight-color: #ad57ff; 

$breakpoint: 800px;