$highlight-color: #00ffcc;
$seconday-highlight-color: #ad57ff; 
$black-color: #2e2d2d;
$white-color: #f8f8f8;

$font-color: $white-color;
$font-family-headline: 'IBM Plex Mono';
$font-size-headline-small: 32px;
$font-size-headline-large: 48px;

$font-size-subline-small: 24px;
$font-size-subline-large: 32px;

$font-size-small: 11px;
$font-size-body: 18px;

$font-family-copy: 'IBM Plex Mono';

$breakpoint: 800px;
$footer-height: 70px;
$header-height: 70px;