$accordion-item-image-w: 120px;
$accordion-item-image-h: 160px;

.accordion-item {
  position: relative;
  min-height: $accordion-item-image-h;
  @apply mb-2;

  &:hover, &--expanded {
    .accordion-item__image {
      clip-path: inset(0);
    }

    .accordion-item__heading {
      @apply text-tertiary-lighter;
    }
  }

  &:hover {
    .accordion-item__image {
      opacity: 1;
    }
  }

  &--expanded {
    .accordion-item__image {
      opacity: 1;
    }

    .accordion-item__panel {
      opacity: 1;
    }
  }

  &--expanded {
    &:hover {
      .accordion-item__image {
        opacity: 1;
      }
    }
  }
}

.accordion-item__image {
  opacity: 0.4;
  clip-path: inset(theme("spacing.4") theme("spacing.2"));
  transition: all 600ms 100ms ease-out;
}

.accordion-item__title {
  transition: all 600ms ease-out;
  outline: 0;
}

.accordion-item__heading {
  &:focus, &:focus-within {
    outline: 3px dashed theme("colors.grey.darker");
  }
}

.accordion-item__panel {
  animation: fade-in 0.35s ease-in;
}
