.internal-link {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: -4px;
    bottom: -4px;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    opacity: 0;
    border: 1px dashed currentColor;
    transition: opacity 400ms ease-out;
    @apply rounded-md;
  }

  &:hover:not(:focus), &--active {
    text-decoration: underline;
    text-underline-position: under;
  }

  &:focus {
    outline: 0;

    &:after {
      opacity: 1;
    }
  }

  &:active {
    opacity: 0.8;
  }
}
